---
layout: default
title: Hello world
---
<div class="w-screen h-screen flex items-center justify-center bg-orange-100 font-mono">
  <h1 class="text-indigo-800 font-semibold">
    Hello world 👋<br/>from “{{site.name}}”
  </h1>
  <img class="w-20" src="/assets/images/eleventy_logo.png" alt="The possum is Eleventy’s mascot"/>
</div>
