<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    {% include "head.njk" %}
  </head>
  <body class="w-screen h-screen flex flex-col items-center bg-orange-100">
    <article class="mt-20 prose lg:prose-xl">
      {{ content | safe }}
    </article>
  </body>
</html>
