html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: darkslateblue;
}

img {
  width: 15vw;
  max-width: 6.25rem;
}
